<!--選單-->
<template id="menuTemplate">
    <div id="menu" class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li v-for="menu in menus" key="menu.uri">
                    <a v-bind:href="menu.uri"><i class="fa fa-bookmark-o"></i>&nbsp;{{menu.name}}</a>
                </li>
                @* <li class="">
                        <a href="#"><i class="fa fa-bookmark-o"></i> 表單下載專區</a>
                        <ul class="nav">
                            <li><a href="/FormTemplate/團體件報價空白表單.xlsx" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;<i
                                        class="fa fa-bookmark"></i> 團體件空白表單</a></li>
                            <li><a href="/FormTemplate/汽車保險業務承保資料表.pdf" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;<i
                                        class="fa fa-bookmark"></i> 汽車保險業務承保資料表</a></li>
                            <li><a href="/FormTemplate/汽車險勘車連絡單.pdf" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;<i
                                        class="fa fa-bookmark"></i> 汽車險勘車連絡單</a></li>
                            <li><a href="/FormTemplate/傷害險被保險人名冊.xlsx" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;<i
                                        class="fa fa-bookmark"></i> 傷害險被保險人名冊</a></li>
                            <li><a href="/FormTemplate/汽車保險單批改申請書.pdf" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;<i
                                        class="fa fa-bookmark"></i> 汽車保險單批改申請書</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/EISQuotation/EISQuotation"><i class="fa fa-bookmark-o"></i> EIS新件報價</a>
                    </li>*@
            </ul>
        </div>
    </div>
</template>

<!--頁面大區塊-->
<template id="mainPanelTemplate">
    <div class="panel panel-info" v-cloak>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 input-group"
             style="font-family:標楷體;color: #4d828d;padding-left:5px;padding-top: 8px;font-size:18px;">
            <I class="fa fa-angle-double-right"></I>
            <span id="spanTitle">&nbsp;{{titleName}}</span>
        </div>
        <div class="panel-body">
            <slot></slot>
        </div>
        <div class="panel-body" style="padding-left:5px;">
            <slot name="buttom"></slot>
        </div>
        <div class="panel-body" style="padding-left:5px;">
            <slot name="trace"></slot>
        </div>
    </div>
</template>

<!--頁面小區塊-->
<template id="panelTemplate">
    <div v-bind:id="myid" class="panel panel-info" v-cloak>
        <div class="panel-heading data">
            {{titleName}}
        </div>
        <div class="panel-body" v-show="showBody">
            <slot></slot>
        </div>
    </div>
</template>

<!--頁面小區塊無表頭-->
<template id="noTitlePanelTemplate">
    <div class="panel panel-info" v-cloak>
        <div class="panel-body">
            <slot></slot>
        </div>
    </div>
</template>


<!--form 基本控件-->
<template id="inputTextTemplate">
    <div v-bind:class="classStyle" v-cloak>
        <span class="input-group-addon">
            <span style="color: red;" cltctype="P"
                  v-show="showRequired">＊</span>{{titleName}}
        </span>
        <input type="text" class="form-control upperCase" v-model="val" v-bind:placeholder="placeholder"
               v-bind:maxlength="length" v-bind:disabled="showDisabled">
    </div>
</template>

<template id="inputTextUnitTemplate">
    <div v-bind:class="classStyle">
        <span class="input-group-addon">
            <span style="color: red;" cltctype="P"
                  v-show="showRequired">＊</span>{{titleName}}
        </span>
        <input type="text" class="form-control upperCase" v-model="val" v-bind:placeholder="placeholder"
               v-bind:maxlength="length" v-bind:disabled="showDisabled">
        <span class="input-group-addon">{{unitName}}</span>
    </div>
</template>

<template id="inputTextDisabledTemplate">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon">
            <span style="color: red;" cltctype="P"
                  v-show="showRequired">＊</span>{{titleName}}
        </span>
        <input type="text" class="form-control upperCase" v-model="val" placeholder="placeHolder" disabled>
    </div>
</template>

<template id="inputTextIconTemplate">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon">
            <span style="color: red;" cltctype="P"
                  v-show="showRequired">＊</span>{{titleName}}
        </span>
        <input type="text" class="form-control upperCase" v-bind:placeholder="placeholder" v-model="val"
               autocomplete="off">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" v-bind:title="buttonTitle">
                <i v-bind:class="[baseClass,iconClass]"></i>
            </button>
        </span>
    </div>
</template>
<template id="normalSelectIconTemplate">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon">
            <span style="color: red;" cltctype="P"
                  v-show="showRequired">＊</span>{{titleName}}
        </span>
        <select class="form-control" v-model="val" v-bind:placeholder="placeholder" v-bind:disabled="showDisabled">
            <option value="">請選擇</option>
            <option value="96">96</option>
            <option value="97">97</option>
            <option value="98">98</option>
            <option value="99">99</option>
        </select>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" v-bind:title="buttonTitle">
                <i v-bind:class="[baseClass,iconClass]"></i>
            </button>
        </span>
    </div>
</template>


<template id="inputGroupTemplate">
    <div v-bind:class="classStyle">
        <span class="input-group-addon">{{titleName}}</span>
        <slot></slot>
    </div>
</template>

<template id="textnumber">
    <input type="text" class="form-control" v-bind:class="{h30:small}" v-model="val" placeholder="placeHolder">
</template>

<template id="textareabox">
    <textarea type="text" class="input h38" v-model="val" placeholder=""></textarea>
</template>

<template id="selectpickerTemplate">
    <div v-bind:class="classStyle">
        <span class="input-group-addon">
            <span style="color: red;" cltctype="P"
                  v-show="showRequired">＊</span>{{titleName}}
        </span>
        <select class="selectpicker show-menu-arrow oldval"
                v-bind:id="myid"
                v-model="val"
                data-header="請輸入至少2個關鍵字"
                data-source="ajax"
                liveSearchStyle="contains"
                showContent="true"
                data-live-search="true"></select>
    </div>
</template>

<template id="normalSelectTemplate">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon">
            <span style="color: red;" cltctype="P"
                  v-show="showRequired">＊</span>{{titleName}}
        </span>
        <select class="form-control" v-model="val" v-bind:placeholder="placeholder" v-bind:disabled="showDisabled">
            <option value=""></option>
            <option v-for="item in items" v-bind:key="item.code" v-bind:value="item.code">
                {{item.name}}
            </option>
        </select>
    </div>
</template>

<template id="radioButtonTemplate">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon">
            <span style="color: red;" cltctype="P"
                  v-show="showRequired">＊</span>{{titleName}}
        </span>
        <div class="input-group-addon"
             style="width:0%; background-color:#eeeeee;border: 1px solid #cccccc;height:34px;">
            <template v-for="item in items">
                <label style="font-weight:normal; margin-bottom:0px;">
                    <input id="myid" name="myid" type="radio" class="label_cbx" openinput="CLTCTYPE" placeholder=""
                           autocomplete="off" v-bind:value="item.value" v-model="val" v-bind:disabled="showDisabled">
                    {{item.name}}
                </label>
            </template>
        </div>
    </div>
</template>

<template id="dateymdTemplate">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 input-group" style="display: table;">
        <span class="input-group-addon">
            <span style="color: red;" cltctype="P"
                  v-show="showRequired">＊</span>{{titleName}}
        </span>
        <span class="input-group-addon" style="width: 0px; padding: 0px; font-size: 0px; border: 0"></span>
        <select v-model="yearVal" class="form-control" style="padding-left:5px; min-width:75px !important;" required=""
                v-bind:disabled="showDisabled">
            <option value="">年</option>
            <option value="2019">108</option>
            <option value="2018">107</option>
            <option value="2017">106</option>
        </select>
        <span class="input-group-addon" style="width: 0px; padding: 0px; font-size: 0px; border: 0"></span>
        <select v-model="monthVal" class="form-control" style="padding-left:5px; min-width:57px !important;" required=""
                v-bind:disabled="showDisabled">
            <option value="">月</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <span class="input-group-addon" style="width: 0px; padding: 0px; font-size: 0px; border: 0"></span>
        <select v-model="dayVal" class="form-control" style="padding-left:5px; min-width:57px !important;" required=""
                v-bind:disabled="showDisabled">
            <option value="">日</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
</template>

<template id="dateymTemplate">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 input-group" style="display: table;">
        <span class="input-group-addon">
            <span style="color: red;" cltctype="P"
                  v-show="showRequired">＊</span>{{titleName}}
        </span>
        <input type="text" class="date form_selDate" istwyear="Y" maxyear="-1" minyear="-100"
               maxlength="8" cltctype="P" required="" v-bind:placeholder="titleName" autocomplete="off"
               style="display: none;" v-bind:disabled="showDisabled">
        <span class="input-group-addon" style="width: 0px; padding: 0px; font-size: 0px; border: 0"></span>
        <select v-model="yearVal" class="form-control" style="padding-left:5px; min-width:75px !important;" required=""
                v-bind:disabled="showDisabled">
            <option value="">年</option>
            <option value="2019">108</option>
            <option value="2018">107</option>
            <option value="2017">106</option>
        </select>
        <span class="input-group-addon" style="width: 0px; padding: 0px; font-size: 0px; border: 0"></span>
        <select v-model="monthVal" class="form-control" style="padding-left:5px; min-width:57px !important;" required=""
                v-bind:disabled="showDisabled">
            <option value="">月</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>
</template>

<template id="tableTemplate">
    <table v-bind:id="myid" style="width:100%; margin-top:5px"
           class="display table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th v-for="item in items" key="item">{{item}}</th>
            </tr>
        </thead>
    </table>
</template>

<template id="modelTemplate">
    <div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 col-lg-offset-10 input-group">
            <button v-bind:title="titleName" class="btn btn-default" data-toggle="modal" v-bind:data-target="'#'+ myid"
                    style="width:100%" type="button">
                <i class="fa fa-1x fa-question" aria-hidden="true"></i> {{titleName}}
            </button>
        </div>
        <div class="modal fade" v-bind:id="myid" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{titleName}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-info">
                            <div class="panel-body" style="padding-left:10px; padding-right:10px;">
                                <slot></slot>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="buttonTemplate">
    <div class="col-lg-1 col-md-3 col-sm-6 col-xs-6 input-group" style="display: table;" v-show="showButton">
        <button type="button" v-bind:class="['btn',btnClass]" style="width:100%;" v-bind:disabled="showDisabled" v-on:click="$emit('click')">
            <i v-bind:class="['fa',iconClass]"></i> {{titleName}}
        </button>
    </div>
</template>
