@{
    ViewData["Title"] = "Quotation Page";
}
<main-panel main-panel-id="mainContent" title-name="UI 元件">
    <div class="row">
    </div>
    <panel panel-name="panel元件" panel-id="baseFormComponents">
        <h2>Hello World</h2>
    </panel>

</main-panel>
@section Scripts {
    <script type="text/javascript" src="~/js/site.js"></script>
}
