@{
    ViewData["Title"] = "Home Page";
}
<main-panel main-panel-id="mainContent" title-name="UI 元件">
    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 input-group">
            ※1.menu 元件，2.main-panel 元件，3.panel 元件，4.selecter 元件。   
        </div>
    </div>
    <panel panel-name="panel元件" panel-id="baseFormComponents">
        <input-text id title-name="input元件(文字)" v-model="formdata.stringvalue" placeholder="請輸入文字"></input-text>
        <input-text-disabled title-name="input元件(文字唯獨)" v-model="formdata.stringvaluedisabled" placeholder="請輸入文字"></input-text-disabled>
        <input-text-icon title-name="input元件(後置圖形按鈕)" v-model="formdata.stringvalueicon" icon-name="fa-files-o" placeholder="請輸入文字" button-name="複製報價單"></input-text-icon>
        <input-group title-name="自行定義輸入框">
            <input id="iptTotalInsurance" type="text" class="form-control comma upperCase" maxlength="16" v-model="formdata.stringcus" placeholder="總保費 NT" autocomplete="off" style="text-align: right;">
            <span class="input-group-addon">元</span>
        </input-group>
        <select-piker title-name="selecter元件" data-header="請輸入兩個以上關鍵字" v-model="formdata.seletvalue"></select-piker>
        <normal-select title-name="通用Select" placeholder='請選擇' v-model="formdata.normalseletvalue"></normal-select>
        <date-ymd title-name="日期(年月日)" v-model="formdata.ymdvalue" set-disabled="false"></date-ymd>
        <date-ym title-name="日期(年月)" v-model="formdata.ymvalue" set-disabled="false"></date-ym>
        <radio-button title-name="通用RadioButton" set-disabled='false' v-model="formdata.radiovalue" v-bind:items='formdata.items'></radio-button>
    </panel>
</main-panel>
@section Scripts {
    <script type="text/javascript" src="~/js/site.js"></script>
}
